html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0; 

}
.imgCamarao {
    background-image: url("https://images.unsplash.com/photo-1574653853117-0274131c2175?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.menu{
    height: 15vh;
    width: 100%;
    background-color: #741111;
    display: flex;
    position: fixed;
    align-items: center;
    
}
.divTitulo{
    width: 26%;
    font-size: 70px;
   text-align: center;
   color: #ffff;
   font-family: 'Petemoss', cursive;
   
}

.container{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 74% ;
    justify-content: end;
    list-style: none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Petemoss', cursive;
    padding-right: 35px;
    color: #ffff; 
    align-items: center;
}
.container li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #ffff;
}
.origemGastronomia{
    background-color: #EDBE7A;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.origemGastronomia img {
    margin-top: 5%;
    margin-left: 9%;
    border-radius: 20px;
}
.textoOrigem {
    margin-left: 50%;
    margin-top: -38%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
}
.textoOrigem .tituloTexto {
    margin-left: 20%;
    font-family: 'Petemoss', cursive;
    font-size: 50px;
}
.chamada{
    background-image: url(../imagem/imgCarne.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}
.chamarUsuario{
    padding-top: 8%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 150px 150px;
    grid-gap: 10%;
  
}
.gridCards{
    background-color: #EDBE7A;
    padding: 10px;
    border-radius: 20px; 
}
.gridCards span{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    margin-left: 2%;
}
.informacoes{
    background-color: #741111;
    height: 30vh;
    margin-top: -20px;
}
.informacoes p{
    color: #ffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
    
}
.socialMedias {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socialMedias li {
    margin: 0 10px;
}

.socialMedias a {
    text-decoration: none;
    color: #FCFEF0;
    font-size: 40px;
  
}




