html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0; 
}
.menu{
    height: 15vh;
    width: 100%;
    background-color: #741111;
    display: flex;
    position: fixed;
    align-items: center;
    
}
.divTitulo{
    width: 26%;
    font-size: 70px;
   text-align: center;
   color: #ffff;
   font-family: 'Petemoss', cursive;
   
}

.container{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 74% ;
    justify-content: end;
    list-style: none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Petemoss', cursive;
    padding-right: 35px;
    color: #ffff; 
    align-items: center;
}
.container li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.botaoSair{
    background-color: #741111;
    border-radius: 8px;
    border: 2px solid #ffff;
    margin-left: 3%;
    width: 10%;
    height: 70%;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Petemoss', cursive;
    font-size: 33px;
    transition: 0.5s;
}
.botaoSair:hover{
    width: 11%;
    font-size: 38px;
}
.textoBotao {
    margin-top: -8%;
}
.imgMacarrons{
    background-image: url("https://cdn.pixabay.com/photo/2017/07/28/14/29/macarons-2548827_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    padding: 40vh;
}

.terceiroQuiz{
    background-color: #741111;
    height: 80vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding: 10px;
    border-radius: 20px;
}
.imgDoce{
    background-image: url("https://images.pexels.com/photos/7525125/pexels-photo-7525125.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    height: 65vh;
    width: 100%;
    border-radius: 20px;
}
.terceiroQuiz .quizTitulo{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
   text-align: center;
   width: 100%;
}
.terceiroQuiz .botaoQuiz{
    background-color: #741111;
    border: #fff solid 2px;
    color: #fff;
    width: 100%;
    height: 8vh;
    border-radius: 8px;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Petemoss', cursive;
    border-radius: 20px;
}


.imgMacarrons2{
    background-image: url("https://vivareceita-cdn.s3.amazonaws.com/uploads/2021/09/Aprenda-receitas-de-macarons-em-casa.-Fonte-Pixabay-500x500.jpg");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
}
.todasPergunta{
    background-color: #741111;
    height: 80vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding: 10px;
    border-radius: 20px; 
}
.imgProfiteroles{
    background-image: url("https://www.seriouseats.com/thmb/VMipiifTJhutCAXdMjpriBDbQbk=/1500x1125/filters:fill(auto,1)/20210609-profiteroles-debbie-wee-seriouseats-17-b1ac56cd654549bc896307e919b26edc.jpg");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
}
.imgPetitGateau{
    background-image: url("https://s2.glbimg.com/nVITzIxbO-YXR2TQ4f3YguOJQrk=/696x390/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2020/y/S/hAEF8hShupx3YgwPrDiw/petit-gateau-de-chocolate-com-sorvete.jpg");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover; 
}
.imgCheesecake{
    background-image: url("https://www.oficinadeinverno.com.br/blog/wp-content/uploads/2015/03/gluten-free-new-york-cheesecake-1450985-hero-01-dc54f9daf38044238b495c7cefc191fa-1024x683.jpg");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover; 
}
.imgCarne{
    background-image: url("https://www.sociedadedacarne.com.br/blog/wp-content/uploads/2019/01/shutterstock_1219554790-1.jpg");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover; 
}
.imgPalova{
    background-image: url("https://lh3.googleusercontent.com/proxy/ywdavti2btujmOzvMRCiEpq2Y5XEnLdnjNX9OBuizAYh-buiRXy4EMRWwxwO8Tg6prS13Q6rH-Bel4r198Id5Xfd31WKaXL9zodXdHFt-j__jJ8DLrn6I6zbzudODnQjRo_9YWkRlgCATF8Vy6AFW3dyeGoccAWJrsNfR78Z4aUaQ8gxbi_UxXs");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover; 
}
.imgCremeBrulee{
    background-image: url("https://static.clubedaanamariabraga.com.br/wp-content/uploads/2017/10/creme-brulee-tradicional.jpg");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
 }
 .imgTiramisu{
    background-image: url("https://img.itdg.com.br/tdg/images/recipes/000/086/691/332009/332009_original.jpg?w=1200");
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
 }


.informacoes{
    background-color: #741111;
    height: 30vh;
    margin-top: -20px;
}
.informacoes p{
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
.socialMedias {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socialMedias li {
    margin: 0 10px;
}

.socialMedias a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}