 .imgBacalhoada{
    background-image: url("https://t1.rg.ltmcdn.com/pt/images/4/7/5/bacalhoada_tradicional_portuguesa_6574_orig.jpg");
    width: 50%;
    height: 50vh;
    background-size: cover;
}

